In [1]:
import pandas as pd

# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
base = pd.read_csv('ml-latest/ratings.csv')
base.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [3]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [17]:
len(base['movieId'])

27753444

In [24]:
# оставил строки, в которых оценка 5
base_edit_5 = base.query('rating == {}'.format(5.0))
base_edit_5.head()

     userId  movieId  rating   timestamp
40        3     2028     5.0   945141611
61        4       47     5.0  1113767129
107       4      296     5.0  1113767056
109       4      316     5.0  1113767120
111       4      318     5.0  1113766505

In [25]:
# сгруппировал по фильмам оценки и посчитал количество строк
base_edit_sort = base_edit_5.groupby('movieId').count().sort_values('userId', ascending = False)
base_edit_sort.head()

         userId  rating  timestamp
movieId
318       48762   48762      48762
296       37458   37458      37458
356       32009   32009      32009
260       31385   31385      31385
593       30280   30280      30280

In [29]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [30]:
# присоединил таблицу с наименованиями фильмов и жанрами
joined_table = base_edit_sort.merge(movies, on = 'movieId', how = 'left')
joined_table.head()

,movieId,userId,rating,timestamp,title,genres
0,318,48762,48762,48762,"Shawshank Redemption, The (1994)",Crime|Drama
1,296,37458,37458,37458,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,356,32009,32009,32009,Forrest Gump (1994),Comedy|Drama|Romance|War
3,260,31385,31385,31385,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,593,30280,30280,30280,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller

In [32]:
# вывел только нужные столбцы
joined_table_filter = joined_table[['movieId', 'title', 'genres']]
joined_table_filter.head()

,movieId,title,genres
0,318,"Shawshank Redemption, The (1994)",Crime|Drama
1,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,356,Forrest Gump (1994),Comedy|Drama|Romance|War
3,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [33]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [49]:
# Lithuania - Литва
# Latvia - Латвия
# Estonia - Эстония
countries = ['Latvia', 'Estonia', 'Lithuania']
# years = [2005, 2006, 2007, 2008, 2009, 2010]
categories = [4, 12, 21]

In [85]:
# отфильтровал по странам
data_country = data.query(f'country in {countries}')

In [86]:
#  отфильтровал по годам
data_year = data_country.query('{} <= year <= {}'.format(2005,2010))

In [87]:
#  отфильтровал по категориям
data_category = data_year.query(f'category in {categories}')

In [71]:
# убрал отрицательные значения
data_not_negative = data_category.query(f'quantity > {0}')

In [111]:
# Сгруппировал по странам и получил сумму значений
data_ = data_not_negative.groupby('country').sum().add_prefix('total_').reset_index()

In [112]:
# Итоговый результат, убрал ненужные столбцы
data_result = data_[ ['country', 'total_quantity' ] ]
data_result.head()

     country  total_quantity
0    Estonia         63440.0
1     Latvia         54844.0
2  Lithuania        122296.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [143]:
data_url = pd.read_html('https://www.finanz.ru/aktsii/realnom-vremeni-spisok/nasdaq_100', encoding='UTF-8')[4]

In [144]:
print(type(data_url))
data_url

<class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,"Имя function __handleSortingClick(componentName, fieldName, sortOrder) { $.ajax({ url: ""/Ajax/IndexShareListForRealtime/Nasdaq_100"", type: ""post"", data: ""orderBy="" + componentName + "":"" + fieldName + "":"" + sortOrder, success: function (v, x) { $('#index-list-container').html(v); try { trackPI(); } catch (e) { } }, error: function () { } }); }",ISIN,Пред. закр.,Посл. зн.,Объём,%,+/-,Время
0,NaN,Activision Blizzard,US00507V1098,7744,7824,0,"1,03 %",80,19:40:12
1,NaN,Adobe,US00724F1012,46095,46506,0,"0,89 %",411,19:39:38
2,NaN,Alexion Pharmaceuticals,US0153511094,12781,12717,0,"-0,50 %",-64,19:38:58
3,NaN,Align Technology,US0162551016,45717,44713,0,"-2,20 %",-1004,19:38:47
4,NaN,Alphabet A (ex Google,US02079K3059,"1 774,03","1 768,94",0,"-0,29 %",-509,19:33:48
5,NaN,Alphabet C (ex Google,US02079K1079,"1 781,38","1 777,95",0,"-0,19 %",-343,19:40:01
6,NaN,Amazon,US0231351067,"3 131,06","3 149,74",0,"0,60 %",1868,19:38:40
7,NaN,AMD (Advanced Micro Devices),US0079031078,8373,8336,0,"-0,44 %",-37,19:40:14
8,NaN,Amgen,US0311621009,23666,23474,0,"-0,81 %",-192,19:40:02
9,NaN,Analog Devices,US0326541051,13801,13593,0,"-1,51 %",-208,19:39:52
10,NaN,Apple,US0378331005,12030,11983,0,"-0,39 %",-47,19:40:15
11,NaN,Applied Materials,US0382221051,7448,7417,0,"-0,42 %",-31,19:40:09
12,NaN,ASML,USN070592100,42651,42594,0,"-0,13 %",-57,19:38:32
13,NaN,Autodesk,US0527691069,24879,24925,0,"0,18 %",46,19:39:13
14,NaN,Automatic Data Processing,US0530151036,17705,17563,0,"-0,80 %",-142,19:39:04
15,NaN,Baiducom,US0567521085,14784,14487,0,"-2,01 %",-297,19:40:15
16,NaN,Biogen,US09062X1037,25096,24910,0,"-0,74 %",-186,19:39:03
17,NaN,Biomarin Pharmaceutical,US09061G1013,7711,7600,0,"-1,44 %",-111,19:39:44
18,NaN,Broadcom,US11135F1012,38081,37923,0,"-0,41 %",-158,19:39:47
19,NaN,Cadence Design Systems,US1273871087,11486,11374,0,"-0,98 %",-112,19:39:40
20,NaN,Cerner,US1567821046,7526,7488,0,"-0,50 %",-38,19:38:31
21,NaN,Charte a,US16119P1084,64141,63726,0,"-0,65 %",-415,19:40:02
22,NaN,Check Point Software,IL0010824113,11929,11874,0,"-0,46 %",-55,19:40:12
23,NaN,Cintas,US1729081059,36866,36040,0,"-2,24 %",-826,19:39:08
24,NaN,Cisco,US17275R1023,4254,4221,0,"-0,78 %",-33,19:40:10
25,NaN,Citrix Systems,US1773761002,11848,12058,0,"1,77 %",210,19:38:17
26,NaN,Cognizant,US1924461023,7780,7703,0,"-0,99 %",-77,19:40:03
27,NaN,Comcast,US20030N1019,4954,4950,0,"-0,08 %",-4,19:40:15
28,NaN,Costco Wholesale,US22160K1051,37979,38634,0,"1,72 %",655,19:39:42
29,NaN,CSX,US1264081035,9300,9231,0,"-0,74 %",-69,19:40:12
30,NaN,Dollar Tree,US2567461080,9561,9486,0,"-0,78 %",-75,19:40:02
31,NaN,eBay,US2786421030,4855,4842,0,"-0,27 %",-13,19:40:02
32,NaN,Electronic Arts,US2855121099,11860,11951,0,"0,77 %",91,19:40:15
33,NaN,Expedia,US30212P3038,12356,12327,0,"-0,23 %",-29,19:40:06
34,NaN,Facebook,US30303M1027,27896,27501,0,"-1,42 %",-395,19:40:15
35,NaN,Fastenal,US3119001044,4861,4790,0,"-1,46 %",-71,19:38:44
36,NaN,Fiserv,US3377381088,10971,10954,0,"-0,15 %",-17,19:40:09
37,NaN,Fox,US35137L1052,2718,2791,0,"2,67 %",73,19:40:07
38,NaN,Gilead Sciences,US3755581036,6109,6060,0,"-0,80 %",-49,19:40:04
39,NaN,IDEXX Laboratories,US45168D1046,45537,45222,0,"-0,69 %",-315,19:40:03
40,NaN,Illumina,US4523271090,29673,29585,0,"-0,30 %",-88,19:40:10
41,NaN,Incyte,US45337C1027,8435,8324,0,"-1,32 %",-111,19:39:28

In [147]:
# Переименовал столбец с названием компании в "Имя"
data_url.columns = ['for_del', 'Имя', 'ISIN', 'Пред.закр.', 'Посл. зн.', 'Объем', '%', '+/-', 'Время']

In [151]:
# Убрал столбец, в котором прописано "NaN". (В оригинале на сайте в этом столбце картинка с ссылкой на график 
# изменений акций)
data_url = data_url[ ['Имя', 'ISIN', 'Пред.закр.', 'Посл. зн.', 'Объем', '%', '+/-', 'Время'] ]

In [150]:
data_url

,Имя,ISIN,Пред.закр.,Посл. зн.,Объем,%,+/-,Время
0,Activision Blizzard,US00507V1098,7744,7824,0,"1,03 %",80,19:40:12
1,Adobe,US00724F1012,46095,46506,0,"0,89 %",411,19:39:38
2,Alexion Pharmaceuticals,US0153511094,12781,12717,0,"-0,50 %",-64,19:38:58
3,Align Technology,US0162551016,45717,44713,0,"-2,20 %",-1004,19:38:47
4,Alphabet A (ex Google,US02079K3059,"1 774,03","1 768,94",0,"-0,29 %",-509,19:33:48
5,Alphabet C (ex Google,US02079K1079,"1 781,38","1 777,95",0,"-0,19 %",-343,19:40:01
6,Amazon,US0231351067,"3 131,06","3 149,74",0,"0,60 %",1868,19:38:40
7,AMD (Advanced Micro Devices),US0079031078,8373,8336,0,"-0,44 %",-37,19:40:14
8,Amgen,US0311621009,23666,23474,0,"-0,81 %",-192,19:40:02
9,Analog Devices,US0326541051,13801,13593,0,"-1,51 %",-208,19:39:52
10,Apple,US0378331005,12030,11983,0,"-0,39 %",-47,19:40:15
11,Applied Materials,US0382221051,7448,7417,0,"-0,42 %",-31,19:40:09
12,ASML,USN070592100,42651,42594,0,"-0,13 %",-57,19:38:32
13,Autodesk,US0527691069,24879,24925,0,"0,18 %",46,19:39:13
14,Automatic Data Processing,US0530151036,17705,17563,0,"-0,80 %",-142,19:39:04
15,Baiducom,US0567521085,14784,14487,0,"-2,01 %",-297,19:40:15
16,Biogen,US09062X1037,25096,24910,0,"-0,74 %",-186,19:39:03
17,Biomarin Pharmaceutical,US09061G1013,7711,7600,0,"-1,44 %",-111,19:39:44
18,Broadcom,US11135F1012,38081,37923,0,"-0,41 %",-158,19:39:47
19,Cadence Design Systems,US1273871087,11486,11374,0,"-0,98 %",-112,19:39:40
20,Cerner,US1567821046,7526,7488,0,"-0,50 %",-38,19:38:31
21,Charte a,US16119P1084,64141,63726,0,"-0,65 %",-415,19:40:02
22,Check Point Software,IL0010824113,11929,11874,0,"-0,46 %",-55,19:40:12
23,Cintas,US1729081059,36866,36040,0,"-2,24 %",-826,19:39:08
24,Cisco,US17275R1023,4254,4221,0,"-0,78 %",-33,19:40:10
25,Citrix Systems,US1773761002,11848,12058,0,"1,77 %",210,19:38:17
26,Cognizant,US1924461023,7780,7703,0,"-0,99 %",-77,19:40:03
27,Comcast,US20030N1019,4954,4950,0,"-0,08 %",-4,19:40:15
28,Costco Wholesale,US22160K1051,37979,38634,0,"1,72 %",655,19:39:42
29,CSX,US1264081035,9300,9231,0,"-0,74 %",-69,19:40:12
30,Dollar Tree,US2567461080,9561,9486,0,"-0,78 %",-75,19:40:02
31,eBay,US2786421030,4855,4842,0,"-0,27 %",-13,19:40:02
32,Electronic Arts,US2855121099,11860,11951,0,"0,77 %",91,19:40:15
33,Expedia,US30212P3038,12356,12327,0,"-0,23 %",-29,19:40:06
34,Facebook,US30303M1027,27896,27501,0,"-1,42 %",-395,19:40:15
35,Fastenal,US3119001044,4861,4790,0,"-1,46 %",-71,19:38:44
36,Fiserv,US3377381088,10971,10954,0,"-0,15 %",-17,19:40:09
37,Fox,US35137L1052,2718,2791,0,"2,67 %",73,19:40:07
38,Gilead Sciences,US3755581036,6109,6060,0,"-0,80 %",-49,19:40:04
39,IDEXX Laboratories,US45168D1046,45537,45222,0,"-0,69 %",-315,19:40:03
40,Illumina,US4523271090,29673,29585,0,"-0,30 %",-88,19:40:10
41,Incyte,US45337C1027,8435,8324,0,"-1,32 %",-111,19:39:28